@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245) !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
}

#footer {
  margin-top: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-title {
  text-align: center;
  font-variant: small-caps;
  font-weight: bold;
  margin: 20px 0;
}
