@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245) !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
}

#footer {
  margin-top: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-title {
  font-size: 3em;
}

.page-title {
  text-align: center;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.anticon {
  margin-right: 3px;
}
