body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(245, 245, 245) !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
}

.main-title {
  font-size: 3em;
  color: #fff !important;
  text-shadow: 0 0 5px #000;
  text-transform: uppercase;
}

.align-center,
.page-title {
  text-align: center;
}

.page-title {
  font-weight: bolder;
  color: rgb(130, 130, 130);
}

.anticon {
  margin-right: 3px;
}
