# Log
log/*
server/log/*
*statistics-list/*

# SQL export
wca-developer-database-dump.sql
wca-developer-database-dump.zip

# TSV export
WCA_export*

# Python
*__pycache__*

*.pem
nohup.out

venv/

*node_modules*