footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  align-items: center;
}

footer a {
  color: inherit;
}

footer ul {
  list-style-type: none;
}

footer li {
  float: left;
  margin: 0 15px;
}
