.tags {
  font-weight: bold;
  margin: 40px 40px 10px;
  font-size: 120%;
}

#display-mode-wrapper {
  padding: 10x;
  text-align: center;
}

.explanation {
  /* text-right mr-5 mt-4 text-muted */
  text-align: right;
  margin: 10px;
  color: #6c757d;
}

.statistics-item {
  margin-top: 30px;
}
