.ranksTable {
  overflow-x: auto;
  font-size: 11px;
}

.ranksTable td{
  padding: 10px;
  text-align: center;
}

.regionTypes {
  width: 20%;
}

.top10{
  color: rgb(0, 221, 0);
  font-weight: bold;
}

.notCompleted {
  color: rgb(255, 0, 0);
  font-weight: bold;
}