#query-input {
  font-family: monospace;
  font-size: 150%;
  margin-bottom: 20px;
}

#database-query-wrapper {
  text-align: center;
}

.ant-pagination-item a {
  display: inline !important; /* fix strange behavior in pagination align */
}

.replace-item {
  margin: 5px 0;
}

.options-button {
  margin: 10px;
}
