.list-item {
  margin: 30px 0;
  font-size: 120%;
}

#switch {
  margin-bottom: 10px;
}

.badge-count sup {
  color: #999;
  background-color: #fff;
  box-shadow: 0 0 0 1px #d9d9d9 inset;
  margin-left: 5px;
}

.stat-card {
  text-align: center;
  background-color: inherit !important;
}
