.list-item {
  margin: 30px 0;
  font-size: 120%;
}

#switch {
  margin-bottom: 10px;
}

.badge-count sup {
  color: #999;
  background-color: #fff;
  box-shadow: 0 0 0 1px #d9d9d9 inset;
  margin-left: 5px;
}

.stat-stat {
  text-align: center;
}

.stat-card {
  height: 100%;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.stat-card h3 {
  font-weight: bold;
  font-size: 150%;
}

.homepage-banner {
  background-image: no-repeat center center fixed;
  background-size: cover;
  padding: 30px 0 80px 0;
}
